html {
    --color-gray-0: hsl(150, 0%, 11%);
    --color-gray-9: hsl(150, 0%, 80%);

    --color-green: hsl(129, 25%, 58%);
    --color-blue:  hsl(250, 45%, 80%);
    --color-pink:  hsl(290, 45%, 66%);
    --color-cyan: cyan;
    --color-orange: hsl(30, 56%, 50%);
    
    --font-primary: 'monospace';
    --font-code: 'monospace';

    --font-size-xl: 24px;
    --font-size-l: 19px;
    --font-size-m: 16px;
    --font-size-s: 14px;
}

html, body {
    margin: 0;
    padding: 0;

    height: 100vh;
    overflow: hidden;
}

body {
    width: 80ch;
    margin: auto;
    
    background-color: var(--color-gray-0);
    color: var(--color-gray-9);
    font-family: var(--font-primary);
}

h1 {
    font-size: var(--font-size-m);
    font-weight: bold;
}

h1 > span:nth-child(1) {
    color: var(--color-green);
}

h1 > span:nth-child(2) {
    color: var(--color-gray-9);
}

h1 > span:nth-child(3) {
    color: var(--color-blue);
}

main {
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    text-align: justify;
}

main:focus {
    outline: 0;
}

main em, main i {
    color: var(--color-cyan);
}

main strong, main b {
    color: var(--color-orange);
}

main ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
}

main ul li {
    padding-left: 1ch;
    text-indent: -3ch;
}

main ul li:before {
    content: "*";
    color: var(--color-pink);
    font-weight: bold;
    padding-right: 0.5ch;
}

footer {
    position: absolute;
    bottom: 0;
    width: 80ch;
    background-color: var(--color-gray-0);
}

footer > ul, #pagination ol {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5ch;
}

footer > ul > li > a, ul#index > li > a, #pagination ol > li > a, p#cc > a {
    width: 2em;
    color: var(--color-gray-9);
    text-decoration: none;
}

footer > ul > li > a > span, ul#index > li > a > span, #pagination ol > li > a > span, p#cc > a > span {
    width: 2em;
    background-color: var(--color-gray-9);
    color: var(--color-gray-0);
}

p#cc {
    text-align: center;
}

pre[style] {
    background-color: inherit !important;
    border-left: 1ch solid var(--color-gray-9);
    padding-left: 2ch;
    margin-left: 4ch;
    font-family: var(--font-code);
    font-size: var(--font-size-m);
}

table {
    text-align: left;
    border: 2px dashed var(--color-gray-9);
    width: 100%;
}

table th {
    border-bottom: 2px dashed var(--color-gray-9);
}

table tr:nth-of-type(2n) {
    color: var(--color-green);
}

table tr:nth-of-type(2n+1) {
    color: var(--color-blue);
}

table tr:first-child {
    color: var(--color-gray-9);
}

h2 {
    border-left: 0.5ch solid var(--color-green);
    color: var(--color-green);
    font-size: var(--font-size-m);
    padding-left: 0.5ch;
}

h3 {
    border-left: 1ch solid var(--color-pink);
    color: var(--color-pink);
    font-size: var(--font-size-m);
    padding-left: 1ch;
}

h4 {
    border-left: 2ch solid var(--color-blue);
    color: var(--color-blue);
    font-size: var(--font-size-m);
    padding-left: 2ch;
}

img {
    width: 100%;
}

div#pagination {
    width: 100%;
    margin-top: 2ch;
    margin-left: auto;
}
